.searchSelect {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.selectForm {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.selectCheck {
  margin: 5px;
}