.searchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.searchText {
  width: 130px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1px;

}
.searchBtn {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1px;
  color: black;
  text-shadow: 0px 0px 2px white;
  &:hover{
    cursor: pointer;
  }
  &:active {
    border: 2px solid black;
  }
}
.error{
  color: black;
  text-shadow: 0px 0px 3px white;
}